<div class="header">
    <h1>Registration Confirmed!</h1>
    <p>Your spot for <strong>AGM</strong> is secured.</p>
</div>
<div class="content-section"><strong>Hello Test,</strong>
    Thank you for registering for <strong>AGM</strong>!
    We're excited to see you there and have prepared this confirmation for your records
</div>
<div class="content-section">
    <h3>Event Details</h3>
    <p><strong class="strong-text">Event:</strong>{event_name}</p>
    <p><strong class="strong-text">Date:</strong>{event_date}</p>
    <p><strong class="strong-text">Time:</strong>{event_time}</p>
    <p><strong class="strong-text">Location:</strong>{location_name} ({location_link} )</p>
    <p>{description}</p>
</div>
<div class="content-section">
<h3>Your Registration</h3>
    <p><strong class="strong-text">Registrant Name:</strong>{name}
    <strong class="strong-text">Registrant Email:</strong>{email}</p>
    {pricing_overview}
</div>
{payment_method_details}
<div class="footer">
    We look forward to welcoming you to AGM!
    Best regards, The Swiss Club Tokyo Event Team
    {reservation_link}
</div>